<p>This is an application to jot down ideas for future projects. It was created by myself as part of a learning
    experience.
    I wanted to create a full stack web application, and in doing so utilize as many tools as possible in the process of
    deploying ProJot to
    the world.
</p>
<p>
    Version: 0.6
</p>
<p>
    Contact: Joel@JoelMorel.com
</p>
<footer>&copy; Copyright 2019 Joel Morel</footer>